
.container {
  background-color: #FFFFFF;
  Width: 1920px;
  Height: 1615px;


  }

  .title {
    position: absolute;
    width: 706px;
    height: 43px;
    margin-left: 554px;
    margin-top: 71px;

    font-family: 'Styrene A Web';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;


    color: #000000;

    }
  .low {


    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 90px;
  }
